*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    border: 2px solid red;
    height: 15vh;
    display: flex;
    /* for rowise we are doing flex */
}
.container2{
    border: 2px solid green;
    height: 70vh;
    display: flex;
}
.footer{
    border: 2px solid blue;
    height: 15vh;
}
.child1{
    display: flex;
    align-items: center;
    border: 2px solid aqua;
    width: 50%;
    margin: 3px;
    padding-left: 40px;
}
.child2{
    border: 2px solid orchid;
    width: 50%;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.child3{
    border: 2px solid orange;
    width: 60%;
    margin: 3px;
    padding-left: 50px;
    padding-top:30px;
}
.child4{
    border: 2px solid rgb(12,222,0);
    width: 40%;
    margin: 3px;
}
a{
    text-decoration:none;
    color: black;
}
#btn{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius:40px ;
}
.btn2{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius:40px ;
}
img{
    width: 100%;
    height: 100%;
}
.heading{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
h4{
    padding-bottom: 50px;
    padding-top: 20px;
}